.scoreboard {
            font-family: 'carddeck';

            .name {
                  text-align: right;
                  margin-right: 20px;
            }

            .cards {

       .card {

             float: left;

             &.hearts, &.diamonds {
                       color: red;
             }

       }
}
}
