.cards {

       .card {

             float:left;

             .cardinality {
                   float: left;

                   span {
                        float: left;
                   }
             }

             .suit {
                   float:left;

                   span {
                        float: left;
                   }
             }
       }
}
