.draw-cards {
  position: fixed;
  bottom: 0;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  z-index: 1000;
  
  .button-overlay {
    
    display: table;
    margin: 0 auto;
    
    ul.button-group {
      list-style: none;   
      }
    
    }
  
  }
