
doctype
html
  head
    title="demo"
    link(rel="stylesheet", href="/static/css/foundation.min.css", type="text/css")
    link(rel="stylesheet", href="/main.css", type="text/css")
  body
    div(id="app")
      script(src="/bundle.js" type="text/javascript")
