
doctype
html
  head
    title="BowlMe-StrikeMe-SpareMe"
    link(rel="stylesheet", href="/static/css/foundation.min.css", type="text/css")
    link(rel="stylesheet", href="/main.css", type="text/css")
  body
    div(id="app")
