
doctype
html
        head
                title="demo"
                link(rel="stylesheet", href="/static/foundation.min.css")
                link(rel="stylesheet", href="/static/style.css")
        body
                div(id="app")
                script(src="/static/bundle.js", type="text/javascript")
